*{
    font-family: sans-serif;
    color: #f9f9f9;
}

#body{background-color: #1c1c1c;}

#wrapper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    font-size: 23px;
    text-align: justify;
    overflow-x: hidden;
}

/* navbar */
#navbar{
    background-color: #1c1c1c;
    position: fixed;
    width: 100vw;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 3px 2px #D5238E;
    z-index: 1; 
}

    #nav-bar{
        color: #D5238E;
        background-color: #1b1b1b;
    }

    #nav-icon{
        width: 350px;
        margin-left: 20%;
    }

    #x{
        width:57vw; height: 2px;
    }

    #nav-link{
        margin-right: 20px;
        font-size: 23px;
        color: white;
        border-radius: 30px;
    }
    
    #nav-link:hover{
        background-color: #D5238E;
        border-radius: 30px;
    }


    .content{
        position: absolute;
        width: 80vw; height: 80vh;
        margin-top: 10vh;
        margin-left: 10vw;
        display: flex; flex-wrap: wrap;
        justify-content:space-around;
        align-content:center;
    }

    .title_1{
        font-size: 28px;
        font-weight: 800;
        margin-top: 2vh;
        position: absolute;
    }
    

    .text2{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 12vh;
        line-height: 32px;
        position: absolute;
    }    

/*home*/
#home{height: 100vh;
position: relative;}

#bg{
    width: 100vw; height: 100vh;
    background-repeat: no-repeat;
    background-size: 50vw;
}

#logo{
    width: 25vw;
    position: absolute;
    margin-top: 20vh;
    margin-left: 10vw;
}

#title{
    position: absolute;
    margin-top: 34vh;
    margin-left: 53vw;
    font-size: 50px;
    width: 800px;
    font-weight: 800;
}

#txt{
    position: absolute;
    margin-top: 65vh;
    margin-left: 53vw;
    width: 350px;
    text-align: left;
}

/* Redirect */
#redirect{height: 100vh;
    position: relative;}

.card1{
    width: 250px;
    height: 350px;
    display: flex; flex-wrap: wrap;
    justify-content: center; align-content: center;
}

#icon1{ width: 10vw; margin-left: 5px;}
#icon2{ width: 10vw;}
#icon3 {width: 10vw; margin-top: -12px;}

#text1{
    text-align: center;
    p{font-size: 18px};
    h2{font-size: 22px; font-weight: 800;};
}

/* Sobre */
#sobre{height: 100vh;
    position: relative;}

#logo2{
    position: absolute;
    width: 17vw;
    margin-top: 21vh;
    margin-left: -12vw;
}

.traco{
    height: 7px;
    border-radius: 50px;
    margin-top: 7vh;
    background-color: #D5238E;
    position: absolute;
}

#t1{width: 190px;}

#divisao{
    width: 7px; height: 300px;
    border-radius: 50px;
    margin-top: 28vh;
    background-color: #D5238E;
    position: absolute;
}

#mockup{
    position: absolute;
    width: 16vw;
    margin-top: 17vh;
    margin-left: 12vw;
}

/* Paleta */
#paleta{height: 100vh;
    position: relative;}

#t2{width: 290px;}

#paleta-img{
    width: 37vw;
    margin-top: 15vh;
}

/* Tipografia */
#tipografia{height: 100vh;
    position: relative;}

#t3{width: 200px;}

#tipografia_icon{
    width: 39vw;
    margin-top: 13vh;
}

/* Integrantes*/
#integrantes{height: 100vh;
    position: relative;}

#t4{width: 230px;}

.card2{
    margin-top: 10vh;
    width: 20vw; height: 300px;
    display: flex; flex-wrap: wrap;
    justify-content: center; align-content: center;
}

#icon-card{
    border-radius: 50%;
    width: 11vw; height: 11vw;
}

#text3{
    margin-top: 3vh;
    width: 200px;
    text-align: center;
    p{font-size: 18px};
    h2{font-size: 22px; font-weight: 800;};
}

/* Quaggio */
#quaggio{height: 100vh;
    position: relative;}

#t5{width: 150px;}

#lg_quaggio{
    width: 13vw;
    margin-left: 6vw;
    margin-top: 6vh;
}

#mockup_quaggio{
    width: 23vw;
    margin-top: -1vh;
}

#box{
    width: 80vw; height: 70vh;
    margin-top: 10vh;
    display: flex; flex-wrap: wrap;
    justify-content: space-around;
}

#txt_1{
    width: 34vw;  height: 30vh;
    margin-left: 10vw;
    margin-top: 10vh;
}

#txt_2{
    width: 34vw; height: 30vh;
    margin-top: 4vh;
}

/* footer */
#footer{
    background-color: #1a1919;
  
}

@media only screen and (max-width: 720px){
    #nav-icon{
        width: 0px;
        margin-left: 0;
    }
    
    .content{
        margin-left: 5vw; margin-top: 5vh;
        width: 90vw; height: 55vh;
        position: absolute;
        align-content: space-around
    }

    #content_alt{
        height: 30vh;
    }

    .title_1{
        font-size: 16px;
        margin-top: 6vh;
    }

    .traco{
        height: 5px;
        margin-top: 9vh;
    }

    .text2{
        font-size: 12px;
        line-height: 15px;
        margin-top: 12vh;
    }

/* home */
    #home{height: 60vh;}

    #logo{
        width: 28vw;
        margin-left: 25px;
        margin-top: 13vh;
    }

    #title{
        font-size: 20px;
        margin-left: 50vw;
        margin-top: 21vh;
    }

    #txt{
        font-size: 10px;
        margin-left: 50vw;
        margin-top: 34vh;
        width: 150px;
    }

    #bg{
        width: 100vw; height: 60vh;
        background-size: 70vw;
    }

/* redirect */
    #redirect{
        height: 40vh;
        overflow: hidden;
    }

    .card1{
        width: 100px; height: 200px;
    }

    #icon1{ margin-left: 2px;}

    #icon2{ margin-top: 0px;}

    #icon3{ margin-top: -5px;}

    #text1{ 
        p{font-size: 8px};
        h2{font-size: 11px; font-weight: 800;};
    }

/* sobre nós */
    #sobre{height: 60vh;}

    #t1{width: 110px;}

    #logo2{
        width: 22vw;
        margin-left: -15vw;
        margin-top: 19vh;
    }

    #divisao{
        width: 5px; height: 20vh;
        margin-top: 31vh;
    }

    #mockup{
        width: 25vw;
        margin-top: 17vh;
        margin-left: 15vw;
    }

/* paleta */
    #paleta{height: 60vh;}

    #t2{width: 170px;}

    #paleta-img{
        width: 60vw;
        margin-top: 13vh;
    }

/* tipografia */
    #tipografia{height: 60vh;}

    #t3{width: 110px;}

    #tipografia_icon{
        width: 60vw;
        margin-top: 13vh;
    }

/* integrantes */
    #integrantes{height: 75vh;}

    #t4{width: 130px;}

    .card2{
        width: 40vw; 
        height: 21vh;
    }

    #icon-card{
        width: 17vw; height: 17vw;
        margin-top: 1vh;
    }

    #text3{
        line-height: 12px;
        margin-top: 2vh;
        p{font-size: 10px};
        h2{font-size: 14px};
    }

/* quaggio */
    #quaggio{height: 70vh;}

    #t5{width: 90px;}

    #lg_quaggio{
        width: 25vw;
        margin-left: 1vw;
        margin-top: 14vw;
    }

    #mockup_quaggio{
        width: 35vw;
        margin-left: 4vw;
    }

    #txt_1{
        width: 40vw;
        margin-left: 12vw;
        margin-top: 25vh;
        font-size: 12px;
    }

    #txt_2{
        width: 38vw;
        margin-top: -5vh;
        margin-left: -3vw;
        font-size: 12px;
    }
}

@media only screen and (min-width:721px) and (max-width: 992px){
    #nav-icon{width: 210px;}

    /* home */
    #logo{
        width: 30vw;
        margin-left: 5vw;
    }

    #title{
        font-size: 44px;
        margin-left: 47vw;
    }

    #txt{
        margin-top: 60vh;
        margin-left: 47vw;
    }

    /* redirect */
    .card1{ width: 20vw;}

    #text1{
        h2{font-size: 20px;}
    }

    /* sobre nos */
    #logo2{
        width: 25vw;
        margin-left: -15vw;
        margin-top: 21vh;
    }

    #divisao{
        margin-top: 37vh;
    }

    #mockup{
        margin-left: 15vw;
        margin-top: 20vh;
        width: 23vw;
    }

    /* paleta */
    #paleta-img{
        width: 50vw;
    }

    /* tipografia */
    #tipografia_icon{
        width: 50vw;
    }

    .card2{
        height: 30vh;
        margin-top: 10vh;
    }

    /* integrantes */
    .card2{
        width: 40vw;
        margin-top: 5vh;
    }

    #icon-card{
        width: 16vw; height: 16vw;
    }

    /* quaggio */
    #lg_quaggio{
        width: 20vw;
        margin-top: 2vh;
    }

    #mockup_quaggio{
        width: 30vw;
        margin-top: 4vh;
        margin-left: 2vw;
    }

    #txt_1{width: 37vw;}
    #txt_2{width: 37vw;}
}

@media only screen and (max-height: 550px){
    #content_alt{
        margin-top: 5vh;
        height: 40vh;
    }

    .content{
        width: 90vw;
        margin-left: 5vw;
    }

    .title_1{font-size: 22px;}

    .traco{margin-top: 9vh;}

    .text2{
        margin-top: 16vh;
        font-size: 16px;
        line-height: 18px;
    }

    /* home */
    #bg{background-size: 55vw;}

    #logo{
        width: 26vw;
        margin-top: 19vh;
        margin-left: 10vw;
    }

    #title{
        font-size: 26px;
        margin-top: 34vh;
        margin-left: 57vw;
    }

    #txt{
        width: 200px;
        font-size: 14px;
        margin-top: 63vh;
        margin-left: 57vw;
    }

    /* redirect */
    #redirect{height: 55vh;}

    .card1{width: 20vw;}

    #text1{ 
        p{font-size: 12px};
        h2{font-size: 16px};
    }

    /* sobre */
    #t1{width: 150px;}

    #divisao{
        margin-top: 40vh;
        height: 40vh;
    }

    #logo2{
        width: 20vw;
        margin-top: 23vh;
    }

    #mockup{
        width: 20vw;
        margin-top: 20vh;
    }

    /* Paleta */
    #t2{width: 230px;}

    #paleta-img{
        width: 37vw;
        margin-top: 22vh;
    }

    /* tipografia */
    #t3{width: 160px;}

    #tipografia_icon{
        width: 45vw;
        margin-top: 22vh;
    }

    /* integrantes */
    #t4{width: 180px;}

    .card2{width: 20vw; height: 60vh;}

    #icon-card{
        margin-top: 2vh;
        width: 12vw; height: 12vw;
    }

    #text3{
        margin-top: 3vh;
        p{font-size: 14px;}
        h2{font-size: 18px;}
    }

    /* quaggio */
    #t5{width: 120px;}

    #lg_quaggio{
        width: 13vw;
        margin-top: 9vh;
    }

    #mockup_quaggio{width: 19vw;
    margin-top: -1vh;}

    #txt_1{
        width: 38vw;
        margin-left: 20vw;
        margin-top: 14vh;
        font-size: 14px;
    }

    #txt_2{
        width: 38vw;
        margin-left: -4vw;
        margin-top: 2vh;
        font-size: 14px;
    }
}
