*{
    font-family: sans-serif;
    color: #f9f9f9;
}

body{overflow-x: hidden;}
   
#wrapper{
    width: 100vw;
    height: 100vh;
    color: #1c1c1c;
    position: absolute;
    font-size: 20px;
    text-align: justify;
}

/* navbar */
#navbar{
    background-color: #1c1c1c;
    position: fixed;
    width: 100vw;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 3px 2px #D5238E;
    z-index: 1; 
}

    #nav-bar{
        color: #D5238E;
        background-color: #1b1b1b;
    }

    #nav-icon{
        width: 350px;
        margin-left: 20%;
    }

    #x{
        width:57vw; height: 2px;
    }

    #nav-link{
        margin-right: 20px;
        font-size: 23px;
        color: white;
        border-radius: 30px;
    }
    
    #nav-link:hover{
        background-color: #D5238E;
        border-radius: 30px;
    }


    .content{
        position: absolute;
        width: 80vw; height: 80vh;
        margin-top: 10vh;
        margin-left: 10vw;
        display: flex; flex-wrap: wrap;
        justify-content:space-around;
        align-content:center;
    }

    .title_1{
        font-size: 28px;
        font-weight: 800;
        margin-top: 2vh;
        position: absolute;
    }
    

    .text2{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 12vh;
        line-height: 32px;
        position: absolute;
    }    

/*home*/
#home{height: 100vh;}

#bg{
    width: 100vw; height: 100vh;
    background-repeat: no-repeat;
    background-size: 50vw;
}

#logo{
    width: 25vw;
    position: absolute;
    margin-top: 20vh;
    margin-left: 10vw;
}

#title{
    position: absolute;
    margin-top: 34vh;
    margin-left: 53vw;
    font-size: 50px;
    width: 800px;
    font-weight: 800;
}

#txt{
    position: absolute;
    margin-top: 65vh;
    margin-left: 53vw;
    width: 350px;
    text-align: left;
}

/* Redirect */
#redirect{height: 100vh;}

#card1{
    width: 250px;
    height: 350px;
    display: flex; flex-wrap: wrap;
    justify-content: center; align-content: center;
}

#icon1{ width: 10vw; margin-left: 5px;}
#icon2{ width: 10vw;}
#icon3 {width: 10vw; margin-top: -12px;}

#text1{
    text-align: center;
    p{font-size: 18px};
    h2{font-size: 22px; font-weight: 800;};
}

/* Sobre */
#sobre{height: 100vh;}

#logo2{
    position: absolute;
    width: 17vw;
    margin-top: 21vh;
    margin-left: -12vw;
}

.traco{
    height: 7px;
    border-radius: 50px;
    margin-top: 7vh;
    background-color: #D5238E;
    position: absolute;
}

#t1{width: 190px;}

#divisao{
    width: 7px; height: 300px;
    border-radius: 50px;
    margin-top: 28vh;
    background-color: #D5238E;
    position: absolute;
}

#mockup{
    position: absolute;
    width: 16vw;
    margin-top: 17vh;
    margin-left: 12vw;
}

/* Paleta */
#paleta{height: 100vh;}

#t2{width: 290px;}

#paleta-img{
    width: 37vw;
    margin-top: 15vh;
}

/* Tipografia */
#tipografia{height: 100vh;}

#t3{width: 200px;}

#tipografia_icon{
    width: 39vw;
    margin-top: 13vh;
}

/* Integrantes*/
#integrantes{height: 100vh;}

#t4{width: 230px;}

#card2{
    margin-top: 10vh;
    width: 30vh; height: 300px;
    display: flex; flex-wrap: wrap;
    justify-content: center; align-content: center;
}

#icon-card{
    border-radius: 50%;
    width: 11vw; height: 11vw;
    background-color: #D5238E;
}

#text3{
    margin-top: 3vh;
    text-align: center;
    p{font-size: 18px};
    h2{font-size: 22px; font-weight: 800;};
}

/* Quaggio */
#quaggio{height: 100vh;}

#t5{width: 150px;}

#lg_quaggio{
    width: 13vw;
    margin-left: 6vw;

}

#mockup_quaggio{
    width: 20vw;
    margin-top: -3vh;
}

#box{
    width: 80vw; height: 70vh;
    margin-top: 10vh;
    display: flex; flex-wrap: wrap;
    justify-content: space-around;
}

#txt_1{
    width: 34vw;  height: 30vh;
    margin-left: 10vw;
}

#txt_2{
    width: 34vw; height: 30vh;
    margin-left: -2vw;
    margin-top: 4vh;
}

/* #footer{
    position: relative;
    display: flex;
    justify-content: center;
  
}

#box1{
    margin-top: 10vh;
    width: 700px;
    height: 450px;
}

#logo_3{
    width: 450px; height: auto;
    margin-left: 150px;
    position: absolute;
}

#box2{
    position: absolute;
    width: 700px; height: 200px;
    margin-top: 160px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#info_card{
    width: 300px; height: 100px;
}

#icon{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
}

#info{
    position: absolute;
    margin-top: 27px;
    margin-left: 80px;
    letter-spacing: 1px;
    font-size: 18px;

}

#copyright{
    position: absolute;
    margin-top: 400px;
    margin-left: 190px;
    letter-spacing: 2px;
} */

@media only screen and (max-width: 720px){
    #navbar{height: 9vh;}

    #nav-icon{
        width: 270px;
        margin-left: 5vw;
    }

    .text2{
        font-size: 12px;
        line-height: 15px;
        margin-top: 15vh;
    }

/* home */
    #home{height: 70vh;}

    #logo{
        width: 0px;
        margin-left: 1px;margin-top: 1px;
    }

    #title{
        font-size: 24px;
        margin-left: 19vw;
        margin-top: 22vh;
        width: 250px;
        text-align: center; letter-spacing: 1px;
    }

    #txt{
        font-size: 12px;
        margin-left: 30vw;
        margin-top: 38vh;
        width: 150px;
        text-align: center;
    }

    #bg{
        width: 100vw; height: 70vh;
        background-size: 60vw;
    }

/* redirect */
    #redirect{height: 30vh;}

    #card1{
        width: 100px; height: 200px;
    }

    #icon1{ margin-left: 2px;}

    #icon2{ margin-top: 0px;}

    #icon3{ margin-top: -5px;}

    .content{
        margin-left: 5vw; margin-top: 0px;
        width: 90vw; height: 30vh;
    }

    #text1{ 
        p{font-size: 8px};
        h2{font-size: 11px; font-weight: 800;};
    }

/* sobre nós */
    #sobre{height: 60vh;}

    .title_1{
        font-size: 16px;
        margin-top: 10vh;
    }

    .traco{
        height: 5px;
        margin-top: 13vh;
    }

    #t1{width: 110px;}

    #logo2{
        width: 22vw;
        margin-left: -15vw;
    }

        #divisao{
        width: 5px; height: 20vh;
        margin-top: 35vh;
    }

        #mockup{
        width: 25vw;
        margin-top: 19vh;
        margin-left: 15vw;
    }

/* paleta */
    #paleta{height: 40vh;}

    #title_alt{
        margin-top: 2vh;
    }

    #text_alt{
        margin-top: 7vh;
    }

    #t2{
        width: 170px;
        margin-top: 5vh;
    }

    #paleta-img{
        width: 50vw;
        margin-top: 16vh;
    }

/* tipografia */
    #tipografia{height: 40vh;}

    #t3{    
        width: 110px;
        margin-top: 5vh;
    }

    #tipografia_icon{
        width: 55vw;
        margin-top: 15vh;
    }

/* integrantes */
    #integrantes{
        height: 100vh;
    }

    #content_alt{
        align-content: space-around;
        margin-top: 10vh;
    }

    #t4{
        width: 130px;
        margin-top: 5vh;
    }

    #card2{
        width: 35vw; height: 20vh;
        margin-top: 10vh;
    }

    #icon-card{
        width: 20vw; height: 20vw;
        margin-top: 8vh;
    }

    #text3{
        margin-top: 1vh;
        p{font-size: 12px};
        h2{font-size: 16px};
    }

/* quaggio */
    #t5{
        width: 90px;
        margin-top: 5vh;
    }

    #lg_quaggio{
        width: 25vw;
        margin-left: 3vw;
        margin-top: 4vh;
    }

    #mockup_quaggio{
        width: 35vw;
        margin-top: 5vh;
        margin-left: 4vw;
    }

    #box{
        width: 80vw; height: 70vh;
        margin-top: 10vh;
        display: flex; flex-wrap: wrap;
        justify-content: space-around;
    }

    #txt_1{
        width: 36vw;  height: 30vh;
        margin-left: 16vw;
        font-size: 12px;
    }

    #txt_2{
        width: 36vw; height: 30vh;
        margin-left: -2vw;
        margin-top: 4vh;
        font-size: 12px;
    }
}
