*{
    font-family: sans-serif;
    color: #f9f9f9;
}

body{
    margin: 0px; padding: 0px;
    overflow-x: hidden;
    font-size: 20px;
    text-align: justify;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    color: #1c1c1c;
    position: absolute;
}

#navbar{
    background-color: #1c1c1c;
    position: fixed;
    width: 100vw;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 3px 2px #D5238E;
    z-index: 1; 
}

    #nav-bar{
        color: #D5238E;
        background-color: #1b1b1b;
    }

    #nav-icon{
        width: 350px;
        margin-left: 20%;
    }

    #nav-link{
        margin-right: 20px;
        font-size: 23px;
        color: white;
        border-radius: 30px;
    }
    
    #nav-link:hover{
        background-color: #D5238E;
        border-radius: 30px;
    }


    #content{
        position: absolute;
        width: 80vw; height: 80vh;
        margin-top: 10vh;
        margin-left: 10vw;
        display: flex; flex-wrap: wrap;
        justify-content:space-around;
        align-content:center;
    }

    .title_1{
        font-size: 28px;
        font-weight: 800;
        margin-top: 2vh;
        position: absolute;
    }
    

    #text2{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 12vh;
        line-height: 32px;
        position: absolute;
    }    

/*home*/
#bg{
    width: 100vw; height: 100vh;
    background-repeat: no-repeat;
    background-size: 50vw;
}

#logo{
    width: 25vw;
    position: absolute;
    margin-top: 20vh;
    margin-left: 10vw;
}

#title{
    position: absolute;
    margin-top: 34vh;
    margin-left: 53vw;
    font-size: 50px;
    width: 800px;
    font-weight: 800;
}

#txt{
    position: absolute;
    margin-top: 65vh;
    margin-left: 53vw;
    width: 350px;
    text-align: left;
}

/* Redirect */
#card1{
    width: 250px;
    height: 350px;
    display: flex; flex-wrap: wrap;
    justify-content: center; align-content: center;
}

#icon1{ width: 10vw; margin-left: 5px;}
#icon2{ width: 10vw;}
#icon3 {width: 10vw;}

#text1{
    text-align: center;
    p{font-size: 18px};
    h2{font-size: 22px; font-weight: 800;};
}


/* Sobre */
#logo2{
    position: absolute;
    width: 17vw;
    margin-top: 21vh;
    margin-left: -12vw;
}

.traco{
    height: 7px;
    border-radius: 50px;
    margin-top: 7vh;
    background-color: #D5238E;
    position: absolute;
}

#t1{width: 190px;}
#t2{width: 290px;}
#t3{width: 200px;}
#t4{width: 230px;}
#t5{width: 150px;}

#divisao{
    width: 7px; height: 300px;
    border-radius: 50px;
    margin-top: 28vh;
    background-color: #D5238E;
    position: absolute;
}

#mockup{
    position: absolute;
    width: 16vw;
    margin-top: 17vh;
    margin-left: 12vw;
}

/* Paleta */
#paleta-img{
    width: 37vw;
    margin-top: 15vh;
}

/* Tipografia */
#tipografia_icon{
    width: 39vw;
    margin-top: 13vh;
}

/* Integrantes*/

#card2{
    width: 33vh; height: 300px;
    display: flex; flex-wrap: wrap;
    justify-content: center; align-content: center;
}

#icon-card{
    border-radius: 50%;
    width: 11vw; height: 11vw;
    background-color: #D5238E;
}

#text3{
    text-align: center;
    p{font-size: 18px};
    h2{font-size: 22px; font-weight: 800;};
}

/* Quaggio */
#lg_quaggio{
    width: 13vw;
    margin-left: 6vw;

}

#mockup_quaggio{
    width: 20vw;
    margin-top: -3vh;
}

#box{
    width: 80vw; height: 70vh;
    margin-top: 10vh;
    display: flex; flex-wrap: wrap;
    justify-content: space-around;
}

#txt_1{
    width: 34vw;  height: 30vh;
    margin-left: 10vw;
}

#txt_2{
    width: 34vw; height: 30vh;
    margin-left: -2vw;
    margin-top: 4vh;
}

  /* footer */ 
#footer{
    position: relative;
    display: flex;
    justify-content: center;
  
}

#box1{
    margin-top: 10vh;
    width: 700px;
    height: 450px;
}

#logo_3{
    width: 450px; height: auto;
    margin-left: 150px;
    position: absolute;
}

#box2{
    position: absolute;
    width: 700px; height: 200px;
    margin-top: 160px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#info_card{
    width: 300px; height: 100px;
}

#icon{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
}

#info{
    position: absolute;
    margin-top: 27px;
    margin-left: 80px;
    letter-spacing: 1px;
    font-size: 18px;

}

#copyright{
    position: absolute;
    margin-top: 400px;
    margin-left: 190px;
    letter-spacing: 2px;
}

